
.wrapperForm {
    display: flex;
    flex: 1;
    width: 100%;
    gap: 10px;
    font-size: 22px;
    font-weight: 600;
    flex-wrap: wrap;
}
.wrapperForm > * { 
    flex: 1; /* Cada componente filho ocupa metade do espaço */
}
.wrapperSelect {
    display: flex;
    width: 100%;
    padding: 0 15px;
    border: 1px solid #6c6c6b;
    border-radius: 8px;
    cursor: pointer !important;
}
.wrapperSelect > * { 
    flex: 1; /* Cada componente filho ocupa metade do espaço */
}
.input {
    padding: 20px 15px;
    border: 1px solid #6c6c6b;
    border-radius: 8px;
    outline: none;
}
.select {
    border: none;
    padding: 20px 10px;   
    outline: none;
    cursor: pointer !important;
    font-weight: 600;
    text-transform: uppercase;
}
.select option {
    background-color: #fff; /* Cor de fundo dos itens */
    color: #333; /* Cor do texto */
    padding: 10px; /* Espaçamento interno para os itens */
    font-size: 16px; /* Tamanho da fonte */
    border-bottom: 1px solid #ddd; /* Linha entre os itens */
    border: none;
}
@media (max-width: 500px) {
    .input, .select {
        width: 100% !important;
        max-width: 100% !important;
    }
}